.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  padding: 10px;
}
.div-flex {
  display: flex;
  gap: 20px;
  width: 100%;
}

.pink-color {
  height: 100px;
  background-color: pink;
  /* width: 100%; */
}
.width-75{
    width: 75%;
}

.width-25 {
  width: 25%;
}
.width-45{
    width: 45%;
}

.width-55{
    width: 55%;
}
.width-45{
  width: 45%;
}
.width-55 {
  width: 55%;
}
.width-90 {
  width: 90%;
}
.width-10{
    width: 10%;
}
